<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
	<connectionStrings>
		<add name ="MySqlKey" connectionString="server=localhost;user id=sqlUser;password=Passw0rd!;persistsecurityinfo=True;database=client_schedule" providerName="MySqlData.MySqlClient"/>
	</connectionStrings>
</configuration>